body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  background-color: #101010;
  color: #ffffff;
  display: flex;
  justify-content: center;
}

h1 {
  color: #9945FF; /* Solana Purple */
}

.wallet-adapter-button {
  background-color: #14F195 !important; /* Solana Green */
  color: #000 !important;
  font-weight: bold;
}
